@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


img .border-1, .border-2 {
  padding:2px solid darkgray;
  display: inline;
  padding:5px;

}

div .border-1 {
  background-color: blue;
  max-width: 50%;
}

ul li {
  list-style-type:none;
  text-decoration: none;
}
