@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.p1, .p2 {
  display:inline;
  overflow-x:visible;
  background-color:darkgray;
  padding:5px;
  margin:0;
}

ul {
  list-style-type:none;
}
