@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

section img {
  padding:15px;
  display:inline;
}

.border-1,.border-2 {
  background-color: white;
  border:1px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
}

ul li, a {
  list-style-type:none;
  text-decoration: none;
}
